<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <!-- bower:css -->
    <!-- endbower -->
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
</head>
<body>

<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<!-- the browserified bundle -->
<script src="bundle.js"></script>

<!-- don't wiredep bower js as we use browserify -->


<div class="page-header myHeader">
    <h1>Fuel Me!
        <small>Cheap fuel in WA</small>
    </h1>
</div>

<div ng-app="deviceApp">

    <div ng-controller="JourneyController">
        <div>
            <form ng-submit="goClicked()">
                <div class="text-center questions">
                    <div>
                        <div>
                            <input class="user-input" type="text" ng-model="origin"
                                   placeholder="I'm starting from ..." required/>
                        </div>
                        <div>
                            <input class="user-input" type="text" ng-model="destination"
                                   placeholder="And I'm driving to ..."
                                   required/>
                        </div>
                        <div>
                            <input class="user-input" type="number" ng-model="buffer"
                                   placeholder="And I'm willing to stray this many kms" step="0.1"
                                   required/>
                        </div>
                        <div>
                            <input class="btn btn-primary user-input" type="submit" value="Show me the fuel!"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="columns-container">
            <div id="infoPanel" class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="p in journey.prices | orderBy: 'price'">
                        <div class="station-price">
                            {{ p.fuelStation.name }} - {{ p.price }} c/L
                        </div>
                        <div class="station-address">
                            {{ p.fuelStation.address }}, {{ p.fuelStation.suburb }}
                        </div>
                    </li>
                </ul>
            </div>
            <div id="appMap" class="panel panel-default"></div>
        </div>
    </div>
</div>


</body>
<footer>
    <span class="text-muted">Data provided by </span>
    <a href="http://www.fuelwatch.wa.gov.au">
        <image class="attribution-image" src="images/fuelwatch-logo.gif"/>
    </a>
</footer>

</html>
