<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <!-- bower:css -->
    <!-- endbower -->
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
</head>
<body>

<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<!-- the browserified bundle -->
<script src="bundle.js"></script>
<!-- don't wiredep bower js as we use browserify -->

<div class="page-header myHeader">
    <h1>Fuel Me!
        <small>Cheap fuel in WA</small>
    </h1>
</div>

<div ng-app="fuelMeApp">
    <div data-hello-world></div>
    <div>
        <div>
            <ng-include src="'templates/form.html'"></ng-include>
        </div>
        <div id="columns-container">
            <div ng-controller="fuelListController" id="infoPanel" class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item price-item" ng-repeat="p in journey.prices | orderBy: 'price'"
                        ng-click="selectPrice(p)"
                            >
                        <div class="station-price">
                            {{ p.fuelStation.name }} - {{ p.price }} c/L
                        </div>
                        <div class="station-address">
                            {{ p.fuelStation.address }}, {{ p.fuelStation.suburb }}
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-controller="mapController" id="appMap" class="panel panel-default"></div>
        </div>
    </div>
</div>

</body>
<footer class="text-muted">
    <div>
        <span>Data provided by </span>
        <a href="http://www.fuelwatch.wa.gov.au">
            <image class="attribution-image" src="images/fuelwatch-logo.gif"/>
        </a>
    </div>
    <div>
        Lovingly crafted by <a href="mailto:flowsoftworks@gmail.com" target="_top">Flow Softworks</a>
    </div>
</footer>

</html>
